body {
    height: 100% !important;
    width: 100% !important;
    background-color: #d9d9d9;
}

.toplabel {
    padding-top: 50px;
    font-family: 'Inter', sans-serif; 
    font-size: 18.75px !important;
    font-weight: 400 !important;
    color: rgb(115, 115, 115);
    text-align: center;
} 
.errorpage {
    background-color: #d9d9d9;
    padding-top: 150px;
    text-align: center;
}

h1.lead {
    font-family: 'Inter', sans-serif; 
    font-size: 90px !important;
    font-weight: 600 !important;
    color: rgb(115, 115, 115);
    display: block;
    padding-bottom: 75px;
    height: 90px;
    letter-spacing: -2.7px;
    line-height: 90px;
    text-align: center;
    text-size-adjust: 100%;
}

h2.explain {
    font-family: 'Inter', sans-serif; 
    font-size: 37.5px !important;
    font-weight: 600 !important;
    color: rgb(115, 115, 115);
    display: block;
    height: 45px;
    letter-spacing: -1.125px;
    line-height: 45px;
    text-align: center;
    text-size-adjust: 100%;
}

h3.desc {
    font-family: 'Inter', sans-serif; 
    font-size: 18.75px !important;
    font-weight: 400 !important;
    color: rgb(115, 115, 115);  
    display: block;
    height: 15px;
    line-height: 15px;
    text-align: center;
    text-size-adjust: 100%;
}
