@media (max-width: 1920px) {
/** Main **/
body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif !important;
   }
    
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
 ::selection {  
  background: #ffe987 !important;
}
    
::-moz-selection {
  background: #ffe987 !important; /* Firefox */
}
  
/** Announcement bar **/
 .announcement {
   display: inline-block;
   height: 100%;
   width: 100%;
   margin: 0;
   padding-top: 15px;
   padding-bottom: 15px !important;
   background: black;
   color: white;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   font-weight: 400px;
 }

.badge {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #3755be;
  vertical-align: middle;
  letter-spacing: 0.17px;
  margin-right: 15px;
}

/*** Navbar ***/
    
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
   .nav-menu-top {
     padding-top: 25px;
   }

.nav-item .nav-link  {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: calc(1px * 2);
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0);
}

.nav-item .nav-link::after {
    display: block;
    background-color: black;
    width: 100%;
    left: 0;
    transform-origin: bottom center;
    height: 2px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.3s ease;
    content: "";
}

.nav-item .nav-link:hover {
  color: #3755BE !important; 
}

.nav-item .nav-link:hover::after {
    transform: scaleX(0.3);
}

.abouttag {
  color: black !important;
  opacity: 1 !important;
}
	
/** Custom **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

.section {
	text-align: center;
}
	
.minihead {
  text-transform: uppercase !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
  font-size: 1.125rem;
  color: #3755be;
  margin-top: 10%;
  margin-bottom: 25px;
}
	
.h1desc {
  font-family: "Inter", sans-serif !important;
  font-weight: 900;
  font-size: 4rem !important;
  color: black;
}
.desc {
  margin-top: 25px;
  height: 150px;	
}
.impactword {
  color: #3755be;
  text-decoration: underline #6b8cff;
}
	
hr {
    margin-left: 2.5px;
    max-width: 50px;
    color: #3755be !important;
    border-color: #3755be;
    border-width: 6px;  
}

#section1 {
  background: #3755be !important;
}
	
#section2 {
  background: #fafbfc !important;
}
	
#section3 {
  background: #d9d9d9 !important;
}
	
#section4 {
  background: white;
}
	
.centerdesc {
  margin-top: 2.5%;
}

.desclink {
  transition: 0.3s;
  color: black;
  font-weight: 600;
}
.desclink:hover {
  text-decoration: none !important;
  color: #3755be !important;
}

.arrow {
  padding-left: 2px;
  transition: 0.3s;
}

.desclink:hover .arrow {
  padding-left: 8px;
}

.about1img {
  margin-top: 75px;
}
/** Filler Section **/
  .gap {
    content: "";
    background: #fff;
    height: 20%;
    width: 100%;
  }
    
/*** Footer Section ***/
.footer-section {
    font-family: 'Inter', sans-serif !important;
    height: auto;
    padding-top: 100px;
    background: #3755BE;
    color: #fff;
    width: 100% !important;
}
.fsubhead {
    font-family: 'Inter', sans-serif;
    border-bottom: 2px solid #6b8cff;
    display: inline-block;
    padding-bottom: 10px;
}
.footerlink {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #ccdceb !important;
    transition: 0.3s;
}
    
.footerlink:hover {
    text-decoration: none;
    color: #fff !important;
    }
    
.salutations {
   display: inline-block;
   height: 8%;
   width: 100%;
   margin: 0;
   padding-bottom: 40px;
   padding-top: 15px;
   background: #2b4294;
   color: white;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   font-weight: 400;
 }
    
.wave {
  font-size: 18px;
  vertical-align: bottom;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { 
      transform: rotate( 0.0deg) 
    }

/** End Media Query**/
}

    
/** Media Queries **/
@media (max-width: 992px) {
 .aboutimage {
  display: none;
  }
  .desclink {
  padding: 10px;
  border: 3px solid black;
  transition: 0.3s;
  color: black;
  font-weight: 600;
}
.desclink:hover {
  border: 3px solid #3755be;
  background: #3755be;
  text-decoration: none !important;
  color: white !important;
}

.arrow {
  padding-left: 2px;
  transition: 0s;
}
  .desclink:hover .arrow {
  padding-left: 2px;
	}
}
@media (max-width: 516px) {
  .footerimg {
    width: 400px;
  }
}

@media (max-width: 415px) { 
  .footerimg {
    width: 300px;
  }
}
  
@media (max-width: 403px) {
 .salutations {
    height: 12%;
    padding-bottom: 0px;
  }
}
