@media (max-width: 1920px) {
/** Main **/
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
 ::selection {  
  background: #ffe987 !important;
}
    
::-moz-selection {
  background: #ffe987 !important; /* Firefox */
}
  
/** Announcement bar **/
 .announcement {
   display: inline-block;
   height: 100%;
   width: 100%;
   margin: 0;
   padding-top: 15px;
   background: black;
   color: white;
   text-decoration: none;
   text-align: center;
   vertical-align: middle;
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   font-weight: 400px;
 }

.badge {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #3755be;
  vertical-align: middle;
  letter-spacing: 0.17px;
  margin-right: 15px;
}

/*** Navbar ***/
   .nav-menu-top {
     padding-top: 25px;
   }

.nav-item .nav-link  {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: calc(1px * 2);
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0);
}

.nav-item .nav-link::after {
    display: block;
    background-color: black;
    width: 100%;
    left: 0;
    transform-origin: bottom center;
    height: 2px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.3s ease;
    content: "";
}

.nav-item .nav-link:hover {
  color: #3755BE !important; /*** You can change the text color here if you guys want ***/
}

.nav-item .nav-link:hover::after {
    transform: scaleX(0.3);
}

/*** Lead Section ***/
.hero-section {
    height: 100%;
    padding-top: 125px;
    align-content: left;
    text-align: left;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='500' preserveAspectRatio='none' viewBox='0 0 1920 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1069%26quot%3b)' fill='none'%3e%3crect width='1920' height='500' x='0' y='0' fill='rgba(90%2c 112%2c 191%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c708.765C163.667%2c727.358%2c342.591%2c837.731%2c482.345%2c750.544C621.837%2c663.521%2c621.145%2c460.243%2c655.932%2c299.554C684.392%2c168.088%2c672.847%2c38.622%2c665.543%2c-95.691C657.469%2c-244.168%2c683.285%2c-399.446%2c610.857%2c-529.31C531.207%2c-672.123%2c404.956%2c-798.736%2c247.95%2c-844.439C91.054%2c-890.11%2c-86.804%2c-857.101%2c-227.035%2c-773.211C-355.044%2c-696.632%2c-388.94%2c-533.466%2c-475.245%2c-411.802C-551.152%2c-304.796%2c-660.905%2c-225.185%2c-703.751%2c-101.184C-752.311%2c39.354%2c-786.412%2c196.001%2c-733.239%2c334.859C-679.031%2c476.418%2c-551.746%2c579.548%2c-416.707%2c648.409C-289.089%2c713.486%2c-142.337%2c692.595%2c0%2c708.765' fill='%235067bb'%3e%3c/path%3e%3cpath d='M1920 1051.646C2031.772 1042.7849999999999 2153.035 1069.9859999999999 2246.7 1008.355 2340.1059999999998 946.894 2362.646 824.865 2414.893 726.01 2470.846 620.143 2566.114 527.0889999999999 2564.3379999999997 407.358 2562.499 283.39099999999996 2492.801 167.32 2405.302 79.48399999999998 2320.902-5.242000000000019 2204.14-43.86699999999996 2087.697-71.12300000000005 1976.355-97.18499999999995 1865.096-87.46500000000003 1751.596-73.53099999999995 1616.959-57.00300000000004 1460.313-77.22299999999996 1363.491 17.781999999999982 1266.225 113.22199999999998 1273.911 269.725 1263.317 405.58299999999997 1253.321 533.781 1251.319 664.018 1303.953 781.3389999999999 1356.79 899.113 1440.019 1011.069 1558.224 1062.934 1670.991 1112.413 1797.24 1061.3780000000002 1920 1051.646' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1069'%3e%3crect width='1920' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: 100% !important;
}

.heroheader {
  font-family: 'Inter', sans-serif; 
  font-weight: 900 !important;  
  color: rgb(33, 37, 41);
  display: block;
  line-height: 53px;
  vertical-align: baseline;
  width: 686px; 
  height: 200px;
 }
    
.herocontent {
    font-family: 'Inter', sans-serif; 
    font-weight: 400 !important;  
    color: rgb(85, 85, 85);
    display: block;
    line-height: 24px;
    vertical-align: baseline;
    box-sizing: border-box;
    height: 96px;
    width: 686px;
}


}
