p.mobile { display: none }
@media (max-width: 640px) {
    p.mobile { display: block }
    p.computer { display: none }
}

body {
  font-family: 'Inter', sans-serif;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    border-color:  #0645AD;
    color:  #0645AD;
}
