@media (max-width: 1920px) {
  /** Main **/

  html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden !important;
  }

  body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
  }

  ::selection {
    background: #ffe987 !important;
  }

  ::-moz-selection {
    background: #ffe987 !important;

    /* Firefox */
  }

  .impactword {
    display: inline;
    text-decoration: underline #6b8cff;
    color: #3755be !important;
  }

  .medicommtextblue {
    color: #3755be !important;
  }

  .anone {
    text-decoration: none;
    color: currentColor;
  }

  .anone:hover {
    text-decoration: none;
    color: currentColor;
  }

  .articlesmall {
    float: right;
  }

  /** Announcement bar **/
  .announcement {
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    background: #6bcf6b;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600 !important;
  }

  .badge {
    display: inline;
    font-size: 12px;
    font-weight: 600 !important;
    text-transform: uppercase;
    background-color: #64a164;
    vertical-align: middle;
    letter-spacing: 0.17px;
    margin-right: 15px;
  }

  .seemore {
    color: #fff;
    font-weight: 400 !important;
    text-decoration: underline;
  }

  .seemore:hover {
    color: #fff;
    font-weight: 400 !important;
    text-decoration: underline;
  }

  /*** Navbar ***/
  .nav-menu-top {
    padding-top: 25px;
  }

  .nav-item .nav-link {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: calc(1px * 2);
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0);
  }

  .nav-item .nav-link::after {
    display: block;
    background-color: black;
    width: 100%;
    left: 0;
    transform-origin: bottom center;
    height: 2px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.3s ease;
    content: "";
  }

  .nav-item .nav-link:hover {
    color: #3755be !important;
  }

  .nav-item .nav-link:hover::after {
    transform: scaleX(0.3);
  }

  /** Press Hook Section **/

  .presshook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    width: 100%;
  }

  .presshookheader {
    font-size: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    margin-top: 120px;
    height: auto;
    padding-bottom: 2.5%;
  }

  .highlight {
    color: #3755be !important;
    background-color: rgba(211, 224, 237, 0.2);
    text-decoration: underline #6b8cff;
  }

  .presshookdesc {
    color: gray;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400 !important;
    margin-left: 25%;
    margin-right: 25%;
  }

  .custom-shape-divider-bottom-1614093263 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1614093263 svg {
    position: relative;
    display: block;
    width: calc(287% + 1.3px);
    height: 210px;
  }

  .custom-shape-divider-bottom-1614093263 .shape-fill {
    fill: #fafbfc;
  }

  .gap {
    content: "";
    background: #fafbfc;
    height: 20%;
    width: 100%;
  }

  /** List of Article **/
  .listofarticles {
    background: #fafbfc;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
  }

  .featured {
    font-family: "Inter", sans-serif !important;
    font-weight: 800;
    margin: auto;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .summarydesc {
    font-family: "Inter", sans-serif;
    font-weight: 400 !important;
    font-size: 1rem;
    color: rgb(33, 37, 41);
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    vertical-align: middle;
  }

  .card {
    width: 50vw;
    padding-left: 12px;
    padding-bottom: 30px;
    padding-right: 12px;
    padding-top: 12px;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: box-shadow 0.3s;
  }

  .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.05);
  }

  .card-title {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 5px;
    letter-spacing: -0.735px;
  }

  .card-text {
    font-size: 16px;
    font-weight: 400;
  }

  .card-link {
    font-size: 16px;
    font-weight: 600;
    color: rgb(55, 85, 190);
  }

  .arrow {
    display: inline;
    padding-left: 2px;
    transition: 0.12s ease-in;
  }

  .card-link:hover {
    color: rgb(55, 85, 190);
  }

  .card-link:hover .arrow {
    padding-left: 8px;
  }

  .forcecenter {
    margin-left: 25%;
    margin-right: 25%;
  }

  /** Press Article Styling **/
  .articlesection {
    font-family: "Inter", sans-serif;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }

  .articletitle {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 800 !important;
  }

  blockquote {
    border-radius: 10px;
    padding: 15px;
    background: #e3e6e8;
    color: black;
  }

  blockquote p {
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-weight: 600 !important;
    margin: 15px;
  }

  blockquote footer {
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-weight: 600 !important;
    margin: 15px;
  }
  
  /*** Footer Section ***/
  .footer-section {
    font-family: "Inter", sans-serif !important;
    height: auto;
    padding-top: 100px;
    background: #3755be;
    color: #fff;
    width: 100% !important;
  }
  .fsubhead {
    font-family: "Inter", sans-serif;
    font-size: 1.15em;
    border-bottom: 2px solid #6b8cff;
    display: inline-block;
    padding-bottom: 10px;
  }
  .footerlink {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #ccdceb !important;
    transition: 0.3s;
  }
  .footerlink:hover {
    text-decoration: none;
    color: #fff !important;
  }

  .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa {
  font-size: 26px !important;
  padding: 10px;
  font-size: 30px !important;
  text-align: center;
}

.fa:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.fa-facebook {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.75em;
  vertical-align: middle;
  border-radius: 50%; /* or 50% */
  background-color: #4267b2;
  width: auto;
  font-size: 26px !important;
  color: white;
}

.fa-instagram {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5em;
  vertical-align: middle;
  border-radius: 50%; /* or 50% */
  background-color: #8a3ab9;
  width: auto;
  color: white;
}

  .salutations {
    display: inline-block;
    height: 8%;
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 15px;
    background: #2b4294;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  .wave {
    font-size: 18px;
    vertical-align: bottom;
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }

    10% {
      transform: rotate(14deg);
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }

    30% {
      transform: rotate(14deg);
    }

    40% {
      transform: rotate(-4deg);
    }

    50% {
      transform: rotate(10deg);
    }

    60% {
      transform: rotate(0deg);
    }

    /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }

  /** End media query bracket **/
}

/** Media Queries **/
@media (max-width: 992px) {
  .articlesection {
    font-family: "Inter", sans-serif;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .card {
    width: 75vw;
    margin-left: -25%;
    margin-right: 75% !important;
  }
}

@media (max-width: 768px) {
  .articlesection {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 516px) {
  .footerimg {
    width: 400px;
  }
}

@media (max-width: 415px) {
  .footerimg {
    width: 300px;
  }
}

@media (max-width: 403px) {
  .salutations {
    height: 12%;
    padding-bottom: 0px;
  }
}
