@media (max-width: 1920px) {
  /** Main **/
  body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233755be' fill-opacity='0.25'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden !important;
  }

  ::selection {
    background: #ffe987 !important;
    color: rgb(33, 37, 41) !important;
  }

  ::-moz-selection {
    background: #ffe987 !important; /* Firefox */
    color: rgb(33, 37, 41) !important;
  }

  .manualhighlight {
    background: #ffe987 !important;
  }
  .impactword {
    display: inline;
    text-decoration: underline #6b8cff;
    color: #3755be !important;
  }
  .medicommtextblue {
    font-family: "Inter", sans-serif;
    color: #3755be !important;
  }
  .anone {
    text-decoration: none;
    color: currentColor;
  }
  .anone:hover {
    text-decoration: none;
    color: currentColor;
  }
  .articlesmall {
    float: right;
  }

  /** Announcement bar **/
  .announcement {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400px;
  }

  .badge {
    display: inline;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #3755be;
    vertical-align: middle;
    letter-spacing: 0.17px;
    margin-right: 15px;
  }

  /*** Navbar ***/
  .nav-menu-top {
    padding-top: 25px;
  }

  .nav-item .nav-link {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: calc(1px * 2);
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0);
  }

  .nav-item .nav-link::after {
    display: block;
    background-color: black;
    width: 100%;
    left: 0;
    transform-origin: bottom center;
    height: 2px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 0.3s ease;
    content: "";
  }

  .nav-item .nav-link:hover {
    color: #3755be !important;
  }

  .nav-item .nav-link:hover::after {
    transform: scaleX(0.3);
  }

  .custom-shape-divider-bottom-1612918598 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1612918598 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 170px;
  }

  .custom-shape-divider-bottom-1612918598 .shape-fill {
    fill: #3755be;
  }

  .leading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    font-family: "Inter", sans-serif;
    margin-bottom: 225px;
    position: relative;
    z-index: -1;
  }

  .leadh1 {
    font-size: 10vh;
    font-family: "Inter", sans-serif;
    font-weight: 900;
  }

  .impactword {
    color: #3755be;
    font-weight: 800 !important;
  }

  .hooksvg {
    background-color: #3755be !important;
  }
  /*** Filler 2 Section ***/
  .ab-section {
    height: auto !important;
    padding-bottom: 150px;
    text-align: left;
    background-color: #fafbfc;
    width: 100% !important;
  }

  .ab-subsection {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }

  .articletitle {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 800 !important;
  }
  .articlesubtitle {
    padding-top: 50px;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 800 !important;
  }

  .articlesubheading {
    color: #3755be;
    padding-top: 50px;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    font-weight: 800 !important;
  }
  blockquote {
    display: block;
    width: auto;
    margin-top: 2.5%;
    padding: 1.5rem;
    padding-left: 1.5rem;
    background-color: #ebebeb;
    border-left: 5px solid #d2d2d4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #7d7d7d;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 1.03 rem;
    line-height: 1.5;
  }
  /** Filler Section **/
  .gap {
    content: "";
    background: #fff;
    height: 20%;
    width: 100%;
  }

  /*** Footer Section ***/
  .footer-section {
    font-family: "Inter", sans-serif !important;
    height: auto;
    padding-top: 100px;
    background: #3755be;
    color: #fff;
    width: 100% !important;
  }
  .fsubhead {
    font-family: "Inter", sans-serif;
    border-bottom: 2px solid #6b8cff;
    display: inline-block;
    padding-bottom: 10px;
  }
  .footerlink {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #ccdceb !important;
    transition: 0.3s;
  }

  .footerlink:hover {
    text-decoration: none;
    color: #fff !important;
  }
  
  .fa {
    padding: 10px;
    font-size: 30px !important;
    text-align: center;
  }

  .fa:hover {
    text-decoration: none;
    color: white;
    opacity: 0.5;
  }

  .fa-facebook {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.75em;
    vertical-align: middle;
    border-radius: 50%; /* or 50% */
    background-color: #4267b2;
    width: auto;
    font-size: 26px !important;
    color: white;
  }

  .fa-instagram {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5em;
    vertical-align: middle;
    border-radius: 50%; /* or 50% */
    background-color: #8a3ab9;
    width: auto;
    color: white;
  }

  .salutations {
    display: inline-block;
    height: 8%;
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 15px;
    background: #2b4294;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  .wave {
    font-size: 18px;
    vertical-align: bottom;
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }

  /** End Media Query**/
}

/** Media Queries **/
@media (max-width: 516px) {
  .footerimg {
    width: 400px;
  }
}

@media (max-width: 415px) {
  .footerimg {
    width: 300px;
  }
}

@media (max-width: 403px) {
  .salutations {
    height: 12%;
    padding-bottom: 0px;
  }
}
