/**** body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background: #fff;
    letter-spacing: 0.4px;
    overflow-x: hidden;
    color: #333333;
}

****/

/***body {
    font-family: 'Inter', sans-serif;
} ***/

.nav-menu-top {
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding: 10;
}

.nav-menu-top .nav-link {
    font-size: 16px;
    color: rgb(0,0,0, 1) !important; 
    padding: 0 20px 0 0 !important;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.loginbutton {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: #fff;
  border: 2.5px solid black;
  color: black;
  padding: 3.5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.loginbutton:hover {
  /*** background-color: #07a5f0; ***/
}


.signupbutton {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color:#07a5f0;
  border: 2.5px solid #07a5f0;
  color: white;
  padding: 3.5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.signupbutton:hover {
  /*** Do something here lol idk background-color: #fff; ***/
}
