/*** General CSS ***/

.hero-section {
    height: 100%;
    padding-top: 165px;
    align-content: left;
    text-align: left;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 70%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/*** Custom CSS ***/

.heroheader {
  font-family: 'Inter', sans-serif; 
  font-weight: 900 !important;  
  color: rgb(84, 34, 34);
   border-bottom-color: rgb(34, 34, 34);
   border-bottom-style: none;
   border-bottom-width: 0px;
   border-image-outset: 0;
   border-image-repeat: stretch;
   border-image-slice: 100%;
   border-image-source: none;
   border-image-width: 1;
   border-left-color: rgb(34, 34, 34);
   border-left-style: none;
   border-left-width: 0px;
   border-right-color: rgb(34, 34, 34);
   border-right-style: none;
   border-right-width: 0px;
   border-top-color: rgb(34, 34, 34);
   border-top-style: none;
   border-top-width: 0px;
   box-sizing: border-box;
   display: block;
   text-align left;
   text-size-adjust: 100%;
   vertical-align: baseline;
    width: 686px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}







/*** Navbar CSS ***/
}
.nav-menu-top {
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    padding: 10px;
}

.nav-menu-top .nav-link {
    font-size: 16px;
    color: rgba(73, 80, 87, 0.5)  /*** !important***/; 
    padding: 0 20px 0 0 !important;
    font-family: 'Inter', sans-serif;
    font-weight: bold;  
}

.loginbutton {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: #fff;
  border: 2.5px solid #ddd;
  color: black;
  padding: 3.5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none; 
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 16px;
}

.loginbutton:hover {
  border: 2.5px solid black;
  border-radius: 16px; 
}

.loginbutton:focus {
    outline: none;
}

.signupbutton {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color:#07a5f0;
  border: 2.5px solid transparent;
  color: white;
  padding: 3.5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none; 
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 16px;
}

.signupbutton:hover {
  border: 2.5px solid #000000;
  border-radius: 16px;
}

.signupbutton:focus {
    outline: none;
}


