/** Basic **/
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


/*** Navbar ***/
.nav-menu-top {
    padding: 10px;
}

.nav-item .nav-link  {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: calc(1px * 2);
    position: relative;
    transition: .3s ease;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0);
}

.nav-item .nav-link::after {
    display: block;
    background-color: black;
    width: 100%;
    left: 0;
    transform-origin: bottom center;
    height: 2px;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: .3s ease;
    content: "";
}

.nav-item .nav-link:hover {
  color: #1a68e5 !important; /*** You can change the color here you guys want ***/
}

.nav-item .nav-link:hover::after {
    transform: scaleX(.3);
}

.loginbutton {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color: #fff;
  border: 2.5px solid #ddd;
  color: black;
  padding: 3.5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none; 
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 16px;
  transition: .2s;
}

.loginbutton:hover {
  border: 2.5px solid black;
  border-radius: 16px;   
}

.loginbutton:focus {
    outline: none;
}

.signupbutton {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-color:#07a5f0;
  border: 2.5px solid #fff;
  color: white;
  padding: 3.5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none; 
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 16px;
  transition: .2s;  
}

.signupbutton:hover {
  border: 2.5px solid black;
  border-radius: 16px;
}

.signupbutton:focus {
    outline: none;
}

/*** Hero Section ***/
.hero-section {
    height: 100%;
    padding-top: 165px;
    align-content: left;
    text-align: left;
    background: #fff;
    width: 100% !important;
}

.heroheader {
  font-family: 'Inter', sans-serif; 
  font-weight: 900 !important;  
  color: rgb(34, 34, 34);
  display: block;
  padding-bottom: 15px;
  line-height: 53px;
  vertical-align: baseline;
}

.herocontent {
    font-family: 'Inter', sans-serif; 
    font-weight: 400 !important;  
    color: rgb(85, 85, 85);
    display: block;
    padding-bottom: 15px;
    line-height: 24px;
    vertical-align: baseline;
    border-bottom-color: rgb(85, 85, 85);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(85, 85, 85);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(85, 85, 85);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(85, 85, 85);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    height: 96px;
    width: 686px;
    outline-color: rgb(85, 85, 85);
    outline-style: none;
    outline-width: 0px;    
}

/*** About Section ***/
.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    width: 100% !important;
}


/*** Services Section ***/
.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    width: 100% !important;
}


/*** Contact Section ***/
.contact-section {
    height: 70%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    width: 100% !important;
}


/*** Custom CSS ***/

.box-1 {
    display: block;
    font-weight: 400px;
    height: 96px;
    width:228px;
    color: rgb(85, 90, 85);
}

.box-2 {
    font-weight: 400px;
    height: 96px;
    width: 228px;
    color: rgb(85, 90, 85);
}

